
<h3>Search Page</h3>

<h3>Set Current User</h3>
<div ng-repeat="user in vm.users">
  <input type="submit" ng-click="vm.setUser(user.username)" Value="{{user.username}}" />
</div>

<div style="width:100%; text-align:center;">
<input id="search" type="text" ng-model="keyword" placeholder="Search for artist" />
<input type="submit" ng-click="vm.searchArtist(keyword)" Value="Search" />
</div>

<div style="display:flex; align-items:center; flex-direction:column; " ng-cloak>

  <div class="search-divs" data-ng-repeat="result in vm.results">
      <h3 style="display:inline;">{{result.name}}</h3> <p>at the {{result._embedded.venues[0].name}} {{(result.priceRanges[0].min) ? '$' : ''}}{{result.priceRanges[0].min}}</p> <p>{{result.dates.start.localDate.slice(5)}}</p>
      <button ng-click="vm.saveEvent(result.name, result._embedded.venues[0].name, result.url, vm.currentUserName)"> A Button </button>
  </div>

</div>
